# Node Environment (development | production | test)
NODE_ENV=development

# Port
PORT=3333

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/webhooks"

# Google AI (Gemini) API Key
GOOGLE_GENERATIVE_AI_API_KEY=""